__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__.zip

.venv/
venv/
env/
.env
*.env

.vscode/
.idea/
*.log
instance/

fraud_detection_backup.sql

tempCodeRunnerFile.py

Thumbs.db
.DS_Store
fraudTrain.csv
fraudTest.csv
credit_card_fraud_dataset.csv
